/*Start Font*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

/*End Font*/


/* Start Body */

body {
    color: #24292e;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}


/* Start Debug */

.bg-blue {
    background-color: burlywood;
}

.bg-red {
    background-color: rgb(100, 58, 3);
}


/* End Debug */


/* Start Container */

.container {
    margin: 20px auto;
    overflow: auto;
    width: 90%
}


/* End Container */


/* Start Container-full */

.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%
}


/* End Container-full */


/* Start Logo */

.logo {
    text-align: center;
}


/* End Logo */


/* Start Anchor / Hyperlink */

a:link,
a:visited {
    color: #0366d6;
    text-decoration: none;
}

a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}


/* End Anchor / Hyperlink */


/*Start Menu Primer*/

.menu-primer ul {
    background-color: rgb(100, 58, 3);
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 3px 5px 0 rgba(0, 0, 0, .12),
}

.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
}

.menu-primer a {
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #f7f7f7;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
}


/*End Menu Primer*/


/* background-color: antiquewhite;
    background-image: url('../images/burger.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%; */


/* End Body */


/*Start Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}


/*End Heading */


/* Start Jumbotron */

.jumbotron {
    background-color: #ebdfaa;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 20px 0;
}

.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}

.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}


/* end Jumbotron */


/* Start Main */

.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}


/* End Main */


/* Start Box */

.box-heading {
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #ffffff;
    border: 1px solid #eaecef;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}


/* End Box */


/* Start Testimonial */

.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding: 10px 20px;
}


/* End Testimonial */


/* Start Menu Skunder*/

.menu-skunder {
    background-color: #f6f8fa;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    ;
    overflow: auto;
    padding: 10px 0;
}

.menu-skunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}

.menu-skunder ul {
    padding: 0;
}

.menu-skunder li {
    list-style: disc;
}

.menu-skunder li a,
.menu-skunder p {
    font-size: 15px;
}

.menu-skunder-one,
.menu-skunder-two,
.menu-skunder-three {
    float: left;
}

.menu-skunder-one {
    width: 40%
}

.menu-skunder-two {
    width: 30%
}

.menu-skunder-three {
    width: 30%
}

.menu-skunder li img {
    vertical-align: middle;
}


/* End Menu Skunder*/


/* Start Copyright */

.copyright P {
    font-size: 15px;
}


/* End Copyright */


/* Start Gambar Animasi */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Cardo);
figure.snip1524 {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 22%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: #000000;
    display: inline-block;
}

figure.snip1524 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

figure.snip1524 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

figure.snip1524 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.75);
    border: 4px solid rgba(255, 255, 255, 0.05);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0%;
    -ms-transform-origin: 0 0%;
    transform-origin: 0 0%;
}

figure.snip1524 h2,
figure.snip1524 p {
    line-height: 1.5em;
    margin: 0;
}

figure.snip1524 h2 {
    font-family: 'Cardo', serif;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

figure.snip1524 p {
    padding: 8px 0 15px;
}

figure.snip1524 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

figure.snip1524:hover > img,
figure.snip1524.hover > img {
    opacity: 0.2;
}

figure.snip1524:hover figcaption,
figure.snip1524.hover figcaption {
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}


/* End Gambar Animasi */